html {
  margin: 2vw;
  scrollbar-gutter: stable;
  font-family: monospace;
}

header h1 {
  margin-top: 0;
  color: rgb(255, 81, 0);
}

body {
  margin: 0px auto;
  max-width: 60rem;
  line-height: 1.6;
  color: #444;
  background-color: #fafafa;
  --s: 108px;
  --c2: #ffffff;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='600' height='120'> <text x='0' y='20' font-size='20' font-family='monospace' opacity='0.03'><tspan x='0' dy='0'>48692C2074686573652061726520736F6D6520776F72647320746F</tspan><tspan x='0' dy='20'>206D616B65206D79206261636B67726F756E64206C6F6F6B2067</tspan>\<tspan x='0' dy='20'>6F6F642C20706C6561736520646F6E27742074727920746F2074</tspan><tspan x='0' dy='20'>72616E736C6174652074686973206261636B20746F20456E676C</tspan><tspan x='0' dy='20'>697368206265636175736520796F752077696C6C206265207375</tspan><tspan x='0' dy='20'>706572206469736170706F696E74656420746861742049206469</tspan><tspan x='0' dy='20'>646E27742070757420736F6D652073656372657420636F64652E</tspan></text></svg>");
  background-repeat: repeat;
}

#right {
  float: right;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 2px solid rgb(255, 81, 0);
  outline: 5px auto -webkit-focus-ring-color;
  font-weight: bold;
}

.platform-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
}

.platform-links::before {
  content: "Play: ";
}

.platform-links li::after {
  content: "|";
}

.platform-links li:last-child::after {
  content: "";
}

.float-right-collection {
  display: flex;
  justify-content: flex-end;
}

a[target="_blank"]::after {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 7 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.04261 6.80966L0.377841 6.14489L5.32102 1.19318H1.50284L1.51136 0.272727H6.90625V5.67614H5.97727L5.9858 1.85795L1.04261 6.80966Z' fill='black'/%3E%3C/svg%3E%0A");
  display: inline-block;
  height: 0.4em;
  padding-inline: 0.3em;
  aspect-ratio: 1;
  line-height: 1;
  vertical-align: text-top;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

header,
main {
  position: relative;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #dfdfdf;
    background: #121212;
  }
}